<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="">
<meta name="author" content="">
<title>Contact</title>


<!-- JQuery -->

<script src="//code.jquery.com/jquery-1.12.0.min.js"></script>
<script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>


<!-- Bootstrap Core CSS -->
<link href="../../css/bootstrap.min.css" rel="stylesheet">
<!-- Custom CSS -->
<link href="../../css/small-business.css" rel="stylesheet">




<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
	integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
	crossorigin="anonymous"></link>
<!-- Angular Material style sheet -->
<link rel="stylesheet"
	href="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.css"></link>
</head>

<body ng-app="angularApp">
	<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation"
		style="background-color: #002A5C">
		<div class="container" style="height: 66px">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse"
					data-target="#bs-example-navbar-collapse-1">
					<span class="sr-only">Toggle navigation</span> <span
						class="icon-bar"></span> <span class="icon-bar"></span> <span
						class="/icon-bar"></span>
				</button>
				<a class="navbar-brand" href="/home1.html"> <img
					src="images/handholding.jpg" align="middle" alt=""
					style="width: 60px; height: 60px;"><img>

				</a>
			</div>
			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse"
				id="bs-example-navbar-collapse-1" align="right" color="white">
				<ul class="nav navbar-nav">
					<li><a href="/about.html" style="color: white""font-size:34px;" >About</a></li>
					<li><a href="/services.html" style="color: white">Services</a></li>
					<li><a href="/developercontact.html" style="color: white">Contact</a></li>
				</ul>
			</div>
			<!-- /.navbar-collapse -->
		</div>
		<!-- /.container -->
	</nav>

	<!-- Page Content -->
	<div class="container">
		<!-- Heading Row -->
		<div class="row">
			<div class="col-md-8">
				<br> <br> <br> <br> <br> <br> <br>
				<img class="img-responsive img-rounded" src="../images/group.png"
					height="350" width="600" alt="">
			</div>

			<!-- /.col-md-8 -->
			<div class="col-md-4">
				<br> <br> <br> <br> <br> <br>
				<h1 style="text-align: center">Contact</h1>
				<hr>
				<h3>&nbsp &nbsp Our Team</h3>
				<ul>
					<li>Christopher_Vaughan@SSA.gov</li>
					<li>George_Woizesko@SSA.gov</li>
					<li>Justin_Moore@SSA.gov</li>
					<li>Mary_Ches@SSA.gov</li>
				</ul>
			</div>
		</div>
	</div>

	<hr>

	<div class="container">
		<div class="row">
			<h3 style="text-align: center">Junior Developers</h3>
			<br>
			<div class="col-md-3 col-md-4 col-xs-6 thumb">
				<a class="thumbnail"> <img class="img-responsive"
					src="../images/christopher.jpg" alt="Chris">
					<p style="color: #002A5C; text-align: center; font-size: 20px">
						<br>Chris
					</p>
				</a>
			</div>
			<div class="col-lg-3 col-md-4 col-xs-6 thumb">
				<a class="thumbnail"> <img class="img-responsive"
					src="../images/george.png" alt="George">
					<p style="color: #002A5C; text-align: center; font-size: 20px">
						<br> George
					</p>
				</a>
			</div>
			<div class="col-lg-3 col-md-4 col-xs-6 thumb">
				<a class="thumbnail"> <img class="img-responsive"
					src="../images/justin.png" alt="Justin">
					<p style="color: #002A5C; text-align: center; font-size: 20px">
						<br> Justin
					</p>
				</a>
			</div>
			<div class="col-lg-3 col-md-4 col-xs-6 thumb">
				<a class="thumbnail"> <img class="img-responsive"
					src="../images/mary.jpg" alt="Mary">
					<p style="color: #002A5C; text-align: center; font-size: 20px">
						<br>Mary
					</p>
				</a>
			</div>
		</div>
	</div>

	<!-- Footer -->
	<br>
	<br>
	<footer>
		<div class="row" style="text-align: center">
			<div class="col-lg-12">
				<p>Copyright &copy; groupFive 2016</p>
				<p>
					<a href="/sitemap.html">Site Map</a>
				</p>
			</div>
		</div>
	</footer>


	</script>
	<script
		src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.js"></script>
	<script
		src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular-resource.js"></script>
	<script
		src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular-animate.min.js"></script>
	<script
		src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular-aria.min.js"></script>
	<script
		src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular-messages.min.js"></script>
	<!-- Angular Material Library -->
	<script
		src="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.js"></script>
	<script type="text/javascript"></script>

	<script src="js/bootstrap.min.js"></script>


</body>
</html>
