 <head>
    <title></title>
<!--Loads the jQuery library-->
  <script 
  src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js">    
  </script>
 <!--Google Maps Call (might need to move this or change something, mainly with the callback portion at the end)-->
  <script defer 
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDBglBmUK-v4u4sdJdQnljxl_wwsNu_12w">      
  </script>
<!--Simple formatting just for demo.-->   
<style type="text/css">
  html, body { 
    height: 100%; 
    margin: 0; 
    padding: 0; 
  }
  #map {
    border: 1px solid black; 
    float: right;
    width: 500px;
    height: 500px; 
  }
  .info1 {
    float: left;
  }
  .container {
    float: left;
  }
</style>
</head>
<body>
    <!--Container 1: main container for formated JSON data from HUD Api-->
    <div class="container"></div>    
    <!--Container 2: embedded map-->    
    <div id="map"></div>   
    <script>
    var map;
    var lat = "";
    var long = "";
    var hudLatLong = lat, long;
    var agency = "";
    var city = "";
    var state = "MD";
    var rowlimit = "";
    var services = "";
    var language = "";
    var index = 0;
    var marker;
    var map;
    //Main function
    $(function(){
      var mapOptions = {
        mapTypeId: google.maps.MapTypeId.ROADMAP,
        mapTypeControl: false
      };
        map = new google.maps.Map(document.getElementById('map'), mapOptions);
        var bounds = new google.maps.LatLngBounds();
           
        //this GET uses hard coded search information
        //will need to develop a variable based url to pass to the api containing user info from DB
        $.get( "https://cors-anywhere.herokuapp.com/http://data.hud.gov/Housing_Counselor/search?AgencyName="+ agency +"&City="+ city +"&State="+ state +"&RowLimit="+ rowlimit +"&Services="+ services +"&Languages="+ language, 
        
        //Start of display function
         function( data ) {
         
          //Start of array loop
          $.each(data, function(index, value){
            //Variables used to parse and format JSON objects returned from HUD Api utilizing JSON Array index assignments
            var lat = data[index].agc_ADDR_LATITUDE;
            var long = data[index].agc_ADDR_LONGITUDE;
            var hudLatLong = new google.maps.LatLng(lat, long);
            bounds.extend(hudLatLong);
            //console.log(index);
            //Creates individual DIV containers for each formatted JSON array object returned from HUD Api. .container routs each new DIV to Container #1 above.
            $(".container").append("<div id=" + index + "></div>");                            
                
                //display all info from the above GET statement
            
                $("#"+index).html("Location ID: " + data[index].agcid + "<br>" + data[index].nme + "<br>" + data[index].adr1 + "<br>" + data[index].adr2 + "<br>" + data[index].city + " " + data[index].state_NME + ", " + data[index].mailingzipcd + "<br>" + "Phone Number: " + data[index].phone1 + "<br>" + "Fax Number" + data[index].fax + "<br>" + "E-Mail: " + data[index].email + "<br>" + "Web Address: " + data[index].weburl + "<br>" + lat + " - " + long + "<br><br>")
          
                //embeded map function that needs user location data and HUD service MDation data           
          
                marker = new google.maps.Marker({
                 position: hudLatLong,
                  //Displyed results when hovering on marker. look into replacing with google.maps.InfoWindow 
                   title: "Location ID: " + data[index].agcid + "\n" +
                      data[index].nme + "\n" +
                      data[index].adr1 + "\n" + 
                      data[index].adr2 + "\n" + 
                      data[index].city + " " + data[index].state_NME + ", " + data[index].mailingzipcd + "\n" +
                      "Phone Number: " + data[index].phone1 + "\n" +
                      "Fax Number" + data[index].fax + "\n" +
                      "E-Mail: " + data[index].email + "\n" +
                      "Web Address: " + data[index].weburl,
                  map: map
             
                });//End of Google maps marker        
        
          })//End of Array loop
          map.fitBounds(bounds);        
        }, "json")//End of Display function         
      })//End of Main function (GET) 
 
   
    </script>
   
</body>
</html>