<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="">
<meta name="author" content="">

<title>BANR - Basic Assistance Needs Resource</title>


<!-- JQuery -->
<link rel="stylesheet" type="text/css"
	href="http://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

<!-- Bootstrap Core CSS -->
<link href="../../css/bootstrap.min.css" rel="stylesheet">

<!-- Custom CSS -->
<link href="../../css/small-business.css" rel="stylesheet">

<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
	integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
	crossorigin="anonymous"></link>


<!-- Angular Material style sheet -->
<link rel="stylesheet"
	href="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.css"></link>
</head>

<body ng-app="angularApp">
	<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation"
		style="background-color: #002A5C">
		<div class="container" style="height: 66px">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse"
					data-target="#bs-example-navbar-collapse-1">
					<span class="sr-only">Toggle navigation</span> <span
						class="icon-bar"></span> <span class="icon-bar"></span> <span
						class="/icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#"> <img
					src="images/handholding.jpg" align="middle" alt=""
					style="width: 60px; height: 60px;">
				</a>
			</div>

			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse"
				id="bs-example-navbar-collapse-1" align="right" color="white">
				<ul class="nav navbar-nav">
					<li><a href="/about.html" style="color: white">About</a></li>
					<li><a href="/services.html" style="color: white">Services</a>
					</li>
					<li><a href="/developercontact.html" style="color: white">Contact</a>
					</li>
				</ul>
			</div>
			<!-- /.navbar-collapse -->
		</div>
		<!-- /.container -->
	</nav>

	<br>
	<br>
	<br>
	<br>

	<!-- Page Content -->
	<div class="container">

		<!-- Heading Row -->
		<div class="row">
			<div class="col-md-7">
				<br> <br> <br> <img
					class="img-responsive img-rounded" src="../images/people.jpg"
					height="350" width="900" alt="">
			</div>
			<!-- /.col-md-8 -->
			<div class="col-md-5" style="text-align: center">
				<br> <br> <br> <br>
				<h1>Basic Assistance Needs Resource (BANR)</h1>
				<p>The U.S. Department of Housing and Urban Development sponsors
					counseling agencies throughout the country that can provide advice
					on buying a home, renting, defaults, foreclosures, and credit
					issues. Login or create a free account to see the best options for
					your family.</p>

				<div ng-controller="UserCtrl">
					<div class="alert alert-danger" th:if="${session.error != null}"
						th:text="${session.error}">Error if exists</div>
					<button ng-click="loginButtonClick()" class="btn btn-primary">Login</button>
					<button ng-click="addButtonClick()" class="btn btn-primary">Register</button>



					<div style="display: none">
						<div class="md-dialog-container" id="userForm">

							<md-dialog>
							<br>
							<div style="background-color: #002A5C; color: white"><br>
								<h2 style="color: white; text-align:center">
									<img src="../imgs/icons/handholding.jpg"
										style="width: 80px; height: 80px;"> Register User
								</h2>
							</div>
							<br>

							<div style="background-color: #002A5C; color: white">
								<form id="userForm" class="form-horizontal">
									<div class="form-group">
										<br>
										<br> <label for="firstName"
											class="col-sm-2 control-label">First Name</label>
										<div class="col-sm-5">
											<input ng-model="user.firstName" type="text"
												class="form-control" id="firstName" name="firstName"
												placeholder="First Name" required="true"></input>
										</div>
									</div>

									<div class="form-group">
										<label for="lastName" class="col-sm-2 control-label">Last
											Name</label>
										<div class="col-sm-5">
											<input ng-model="user.lastName" type="text"
												class="form-control" id="lastName" name="lastName"
												placeholder="Last Name" required="true"></input>
										</div>
									</div>

									<div class="form-group">
										<label for="email" class="col-sm-2 control-label">Email
											Address</label>
										<div class="col-sm-5">
											<input type="email" ng-model="user.email"
												class="form-control" id="email" name="email"
												placeholder="user@example.com" required="true"></input>
										</div>
									</div>

									<div class="form-group">
										<label for="addressline1" class="col-sm-2 control-label">Address
											Line 1</label>
										<div class="col-sm-5">
											<input ng-model="user.addressline1" type="text"
												class="form-control" id="addressline1" name="addressline1"
												placeholder="123 Anywhere Street"></input>
										</div>
									</div>

									<div class="form-group">
										<label for="addressline2" class="col-sm-2 control-label">Address
											Line 2</label>
										<div class="col-sm-5">
											<input ng-model="user.addressline2" type="text"
												class="form-control" id="addressline2" name="addressline2"
												placeholder="Apartment C"></input>
										</div>
									</div>

									<div class="form-group">
										<label for="city" class="col-sm-2 control-label">City</label>
										<div class="col-sm-5">
											<input ng-model="user.city" type="text" class="form-control"
												id="city" name="city" placeholder="City" required="true"></input>
										</div>
									</div>


									<div class="form-group">
										<label for="state" class="col-sm-2 control-label">State</label>
										<div class="col-sm-5">
											<input ng-model="user.state" type="text" class="form-control"
												id="state" name="state" placeholder="State" required="true"></input>
										</div>
									</div>

									<div class="form-group">
										<label for="zipcode" class="col-sm-2 control-label">Zip
											Code</label>
										<div class="col-sm-5">
											<input ng-model="user.zipcode" type="text"
												class="form-control" id="zipcode" name="city"
												placeholder="Zip Code" required="true"></input>
										</div>
									</div>

									<div class="form-group">
										<label for="password" class="col-sm-2 control-label">Password</label>
										<div class="col-sm-5">
											<input ng-model="user.password" type="text"
												class="form-control" id="password" name="password"
												aria-describedby="helpBlock" required=""></input> <span
												id="helpBlock" class="help-block" style="color: white">Password
												should be at least 8 characters, 1 upppercase, 1 lowercase,
												1 special character, and one number</span>
										</div>
									</div>
									<div class="form-group">
										<label for="verifyPassword" class="col-sm-2 control-label">Verify
											Password</label>
										<div class="col-sm-5">
											<input type="text" class="form-control" id="verifyPassword"
												name="verifyPassword">
										</div>
									</div>

									<div class="form-group">
										<div class="col-sm-offset-2 col-sm-10">
											<span ng-show="addFlag"><button ng-click="addUser()"
													type="submit" class="btn btn-success">Register</button></span>
										</div>
									</div>

								</form>

							</div>

							</md-dialog>

						</div>

						<!-- close div style display -->
					</div>







					<div style="display: none">
						<div class="md-dialog-container" id="loginForm">
							<md-dialog>
							<div ng-app="">
								<form method="POST" action="/userLogin" id="loginForm"
									name="loginForm" style="width: 80%">

									<table id="fntable">
										<center>
											<h3>&nbsp&nbspLogin</h3>
										</center>
										<button type="submit">Submit</button>
										<tr>
											<td style="width: 30%">User Email:</td>
											<td><input id="email" name="email" type="text"
												class="form-control" placeholder="E-mail"></td>
										</tr>

										<span>First Name Must be At Least 4 Characters</span>
										<tr>
											<td style="width: 30%">Password:</td>
											<td><input id="password" name="password" type="text"
												class="form-control" placeholder="Password"></td>

										</tr>


									</table>

								</form>
							</div>

							</md-dialog>
						</div>

					</div>

				</div>

				<!-- close user ctrl -->
			</div>

		</div>

		<!-- close row div -->
	</div>



	<hr style="display: block; margin-top: 0.5em; margin-bottom: 0.5em; margin-left: auto; margin-right: auto; border-style: inset; border-width: 8px;">

	<!-- JQuery -->
	<script src="http://code.jquery.com/jquery-3.1.0.min.js"></script>
	<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

	<!-- Angular -->
	<script
		src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.js"></script>
	<script
		src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular-resource.js"></script>
	<script
		src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular-animate.min.js"></script>
	<script
		src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular-aria.min.js"></script>
	<script
		src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular-messages.min.js"></script>

	<!-- Angular Material Library -->
	<script
		src="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.js"></script>

	<!--JQuery Validate-->
	<script type="text/javascript"
		src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.15.0/jquery.validate.min.js"></script>
	<script type="text/javascript"
		src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.15.0/additional-methods.min.js"></script>


	<script>           
            var app = angular.module('angularApp', ['ngResource', 'ngMaterial']);
            
            app.factory('UserService', ['$resource', function ($resource) {
                return $resource(
                    'http://localhost:8080/user/:userId',
                    {userId: '@uid'},
                    {update: {method: 'PUT'}}
                );
            }]);
            
            app.controller('UserCtrl', ['$scope', 'UserService', '$mdDialog',
            function($scope, UserService, $mdDialog) {
                $scope.users = [];
                $scope.user  = new UserService();
                $scope.action = "Add";
                $scope.addFlag = true;
                $scope.editFlag = false;
                
                $scope.getAllUsers = function(){
                    $scope.users = UserService.query()
                }
                
                $scope.getAllUsers();
                
                $scope.deleteUser = function(id){
                    $scope.user = UserService.delete({ userId: id},
                    function() {
                        $scope.user = new UserService();
                        $scope.getAllUsers(); 
                    });
                }
                
                $scope.addUser = function(){
                    $scope.user.$save(
                        function(user){ 
                            $scope.user = new UserService();
                            $scope.getAllUsers();
                            $mdDialog.hide();
                        },
                        function(err){
                        console.log(err.status);
                        }
                    );     
                }; 
                
        $scope.editUser = function(id){
            $scope.user = UserService.get({ userId: id}, function() { 
                $scope.showForm();
                $scope.action = "Update"
                $scope.addFlag = false;
                $scope.editFlag = true;
            });
        };  
        $scope.updateUser = function(id){
            $scope.user.$update({ userId: id},
                function(user){
                    $scope.user = new UserService();
                    $scope.getAllUsers();
                    $mdDialog.hide();
                }
            )
        };
        
        $scope.addButtonClick = function(){
            $scope.showForm();
            $scope.user = new UserService();
            $scope.addFlag = true;
            $scope.editFlag = false;
            $scope.action = "Add";
        }
        $scope.showForm = function(ev) {
            $mdDialog.show({
              contentElement: '#userForm',
              parent: angular.element(document.body),
              targetEvent: ev,
              clickOutsideToClose: true
            });
          
        };
        
        $scope.loginButtonClick = function(){
            $scope.showFormB();
            //window.location = "/PostLoginforWidgets"
        }
        
        $scope.showFormB = function(ev) {
            $mdDialog.show({
              contentElement: '#loginForm',
              parent: angular.element(document.body),
              targetEvent: ev,
              clickOutsideToClose: true
            }); 
        };
        
    }]
)
</script>






<!-- Footer -->
		<br> <br>
		<footer>
			<div class="row" style="text-align: center">
				<div class="col-lg-12">
					<p>Copyright &copy; groupFive 2016</p>
					<p>
						<a href="/sitemap.html">Site Map</a>
					</p>
				</div>
			</div>
		</footer>


	<!--  Close of Very First Div (Class = Container -->




	<!-- Bootstrap Core JavaScript -->
	<script src="js/bootstrap.min.js"></script>
</body>

</html>